* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 100vh;
}

header,
main,
footer {
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}
